.label {
    -fx-background-color: #2c3e50;
    -fx-text-fill: #00ffbf;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 0, 0);
}

.reply-label {
    -fx-background-color: linear-gradient(to bottom right, #4b0082, #800080);
    -fx-border-color: #3e0000;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-effect: dropshadow(three-pass-box, rgba(147, 112, 219, 0.8), 15, 0, 0, 0);
    -fx-text-fill: #fdfdfd;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;

    -fx-background-color: transparent;
}

